Source: pistrap
Section: devel
Priority: extra
Maintainer: James Bennet <github@james-bennet.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: <http://github.com/jamesbennet/pistrap>
Vcs-Git: git@github.com:jamesbennet/pistrap.git
Vcs-Browser: http://github.com/jamesbennet/pistrap

Package: pistrap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, binfmt-support, qemu, qemu-user-static, debootstrap, kpartx, lvm2,dosfstools, git-core, binutils, ca-certificates, ntp, ntpdate, openssh-server, less, vim, screen, multistrap, schroot, fakechroot, cdebootstrap, minicom, dialog
Description: Bootstraps your own minimal RaspberryPi SD-card image, supporting various dists,arches and suites.
 Bootstraps your own minimal RaspberryPi SD-card image, supporting various dists,arches and suites. The tool will also download, configure, and install the latest RPi firmware, kernel module etc...
